<%-include("partials/header")%>


<h1>Search movies</h1>

<form action="/result"  method="GET">
		<input class="inp1" type="text" name="moviename" placeholder="Name the country, sir!!">
		<br>
		<input class="btn btn-outline-light" type="submit">
</form>


<%-include("partials/footer")%>